
<div class="card text-center">
    <div class="card-header">
        {{mat.libelle|titlecase}}
    </div>
    <div class="card-body">
       <p> <img [src]="mat.photo" > </p>

        <span class="badge badge-pill badge-primary"
        [ngClass]="{'badge-primary':mat.hautGamme,
                'badge-dark':!mat.hautGamme}">
        
        prix :{{mat.prix}}DT
        </span>
    </div>
    <div class="card-footer text-muted">
        
        <button type="button" class="btn btn-primary">details</button>
    </div>
</div>
