<h2>Détail du "{{materiel.libelle}}" d'Id "{{materiel.id}}"</h2>
        <ul>
            <li><img [src]="materiel.photo"/></li>
            <li >Marque {{materiel.marque}}</li>
            <li>Prix {{materiel.prix}}</li>
            <li>Description {{materiel.description}}</li>
            <li>Quatité {{materiel.quantite}</li>
            <li><input type="checkbox" [checked]="materiel.hautGamme" /> haut Gamme</li>
            <li><button (click)="AfficherCom()" class="btn btn-primary">Afficher les Commantaire</button></li>
          </ul>

    